/* Packages */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';



/* Your styles here */
html, body, div, h1, h2, h3, p, img{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #F5F5F5;
}



/* Landing */
#wholePage {
    min-height: 100vh;
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    min-width: 18%;
    min-height: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: xx-large;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#title{
    color:black;
    font-size: 75px;
    margin-bottom: 5%;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
}

#navtitle {
    color: black;
    font-size: 50px;
}




/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}